/*FIRST BREAKPOINT (MOBILE) */

/* default breakpoint (global) */
  body, html {
    height: 100%;
    margin: 0;
    width: 100%;
    font-size: 11px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;

  }
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  .active {
    background-color: #4CAF50;
    color: white;
  }
  .topnav .icon {
    display: none;
  }
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
      display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  @media screen and (max-width: 600px) {
    .topnav.responsive {
      position: relative;
    }
      .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
  .downArrow {
    bottom: 45%;
    left: 50%;

  }
  .bounce {
    -moz-animation: bounce 3s infinite;
    -webkit-animation: bounce 3s infinite;
    animation: bounce 3s infinite;
  }
  @-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -moz-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -moz-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -moz-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }
  @-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -moz-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -moz-transform: translateY(-15px);
      -ms-transform: translateY(-15px);
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }
  main {
    display: block;
    height: 1000px;
    overflow-y: visible;
    scroll-behavior: smooth;
  }
  .pimg1, .pimg2, .pimg3, .pimg4 {
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /*
    fixed = parallax
    scroll = normal
  */
    background-attachment: fixed;
  }
  .pimg1 {
    background-image: url('../img/img1.jpg');
    min-height: 30%;
    opacity: 0.80;
  }
  .pimg2 {
    background-image: url('../img/img3.jpg');
    min-height: 200px;
  }
  .pimg3 {
    background-image: url('../img/img4.jpg');
    min-height: 50%;
  }
  .pimg4 {
    background-image: url('../img/contact.jpg');
    min-height: 30%;
  }
  .section {
    text-align: center;
    padding: 50px 80px;
  }
  .section-light {
    background-color: #f4f4f4;
    color: #666;
  }
  .section-dark {
    background-color: #282e34;
    color: #ddd;

  }
  .ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 16px;
    letter-spacing: 8px;
    text-transform: uppercase;
  }
  .ptext .border {
    background-color: #111;
    color: #fff;
    padding: 15px;
  }
  .ptext .border.trans {
    background-color: transparent;
  }
  @media(max-width:568px) {
    .pimg1, .pimg2, .pimg3 {
      background-attachment: scroll;
    }
  }
  div.gallery {
    margin: 0 auto;
    text-align: center;
    border: 1px solid #ccc;
    float: left;
    max-width: 400px;
    font-size: 15px;
    align-content: center;
    opacity: 1;
    transform: scale(1.0);
    transition: all 500ms linear;
    position: relative;
    z-index: 1;
    margin: 10px;
  }
  div.gallery:hover {
    border: 1px solid #777;
    transition: all 200ms linear;
    transform: scale(1.2);
    opacity: 1;
    z-index: 99;
  }
  div.gallery img {
    width: 100%;
    height: auto;
  }
  @media (max-width:350px) {
    .gallery {
      width: 100vw;
    }
    article {
      min-width: 100%;
    }
  }
  div.desc {
    padding: 15px;
    text-align: center;
  }
  article {
    float: left;
    max-width: 33.33%;
    padding: 3px;
    text-align: left;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  @media (max-width:480px) {
    article {
      width: 100%;
    }
  }
  .box-hero-image-scroll-button .js-btn-scroll.animation-on {
    background-position: 50% 30px;
  }
  design.default.…0-0-1.css:7610 .component.section * {
    box-sizing: border-box;
  }
  design.default.…0-0-1.css:4244 .box-hero-image-scroll-button .js-btn-scroll {
    background: #FFE256 url('../img/arrowdown.png') no-repeat 50% 15px;
    width: 85px;
    height: 85px;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
    z-index: 1;
    padding: 0;
    border-radius: 50%;
    overflow: hidden;
    -webkit-transition: background .8s ease-out;
    transition: background .8s ease-out;
  }
  h3 {
    font-size: 20px;
  }
  * {
    box-sizing: border-box
  }
  body {
    font-family: Verdana, sans-serif;
    margin: 0
  }
  .mySlides {
    display: none
  }
  .slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
  }
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .active, .dot:hover {
    background-color: #717171;
  }
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @-webkit-keyframes fade {
    from {
      opacity: .4
    }
    to {
      opacity: 1
    }
  }
  @keyframes fade {
    from {
      opacity: .4
    }
    to {
      opacity: 1
    }
  }
  /* Flex Container */
  .flex-nav ul {

    list-style: none;
    margin: 0;
    padding: 0;
    display:flex;
  }

  /* Flex Container!!! */

  h2{
    font-family: 'Kalam', cursive;
    font-size: 30px;
    color: black;
  }

  .pricing-grid {
    min-width:100%;
    margin-top:0px;
    display:flex;
    align-items:stretch;
    flex-wrap:wrap;
    justify-content:center;

  }
  .plan {
    border: 2px solid red;
    background: white;
    margin:20px;
    padding:5px;
    text-align: center;
    min-width: 300px;
    height: 200px;
    flex:0;
    display:flex;
    flex-wrap:wrap;
    color: black;
  }
  .plan > * {
    flex:1 1 100%;
  }

  .plan .cta {
    align-self:flex-end;
    text-align:center;
    color:#black;
    font-size:14px;
    letter-spacing: 0px;
    font-weight:bold;
  }
  video {
    position: relative;
    width: 100%;
  }
  figure {
    width: 250px;
  }

  /* Contact Form Styles */

  h1 {
    margin: 10px 0 0 0;
  }

  h4 {
    margin: 0 0 20px 0;
  }

  #contact-form {
    background-color: rgba(72, 72, 72, 0.7);
    padding: 10px 20px 30px 20px;
    max-width: 100%;
    float: left;
    left: 50%;
    position: absolute;
    margin-top: 20px;
    margin-left: -230px;
    margin-bottom: 160px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
  }

  #contact-form input, #contact-form select, #contact-form textarea, #contact-form label {
    font-size: 15px;
    margin-bottom: 2px;
    font-family: Arial, san-serif;
  }

  #contact-form input, #contact-form select, #contact-form textarea {
    width: 100%;
    background: #fff;
    border: 0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 15px;
    padding: 2px;
  }

  #contact-form input:focus, #contact-form select:focus, #contact-form textarea:focus {
    background-color: #E5E6E7;
  }

  #contact-form textarea {
    width: 100%;
    height: 100px;
  }

  #contact-form button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #991D57;
    background-image: linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
    background-image: -moz-linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
    background-image: -webkit-linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    border-radius: 5px;
  }

  #contact-form button[type="submit"]:hover {
    background-image: linear-gradient(bottom, #9C215A 0%, #A82767 52%);
    background-image: -moz-linear-gradient(bottom, #9C215A 0%, #A82767 52%);
    background-image: -webkit-linear-gradient(bottom, #9C215A 0%, #A82767 52%);
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
  }

  #contact-form button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
  }

  input:required, textarea:required {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
  }

  #contact-form .required {
    font-weight: bold;
    color: #E5E6E7;
  }

  /* Hide success/failure message
   (especially since the php is missing) */

  #failure, #success {
    color: #6EA070;
    display: none;
  }

  /* Make form look nice on smaller screens */

  @media only screen and (max-width: 580px) {
    #contact-form {
      left: 3%;
      margin-right: 3%;
      width: 88%;
      margin-left: 0;
      padding-left: 3%;
      padding-right: 3%;
    }
  }

  }
  .flip3D{
    width:240px;
    height:200px;
    margin:10px;
    float:left;
  }
  .flip3D > .front{
    position: absolute;
    bottom: 100px;
    transform: perspective(600px) rotateY(0deg);
    background: #FC0; width:240px; height: 200px; border-radius: 7px;
    backface-visibility: hidden;
    transition: transform .5s linear 0s;
  }
  .flip3D > .back{
    position:absolute;
    bottom: 100px;
    transform: perspective(600px) rotateY(180deg);
    background: #80BFFF; width:240px; height: 200px; border-radius: 7px;
    backface-visibility: hidden;
    transition: transform .5s linear 0s;
  }
  .flip3D:hover > .front{
    transform: perspective(600px) rotateY(-180deg);

  }
  .flip3D:hover > .back{
    transform: perspective(600px) rotateY(0deg);

  }
  .footer {
     position: absolute;
     bottom:-1100%;
     width: 100%;
     background-color: #c6c6c6;
     color: black;
     text-align: center;
     padding: 2%;
     z-index: 20px;
  }
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 8px 5px;
  }

  .fa-facebook {
    background: #3B5998;
    color: white;
    width: 45px;
      height: 45px;
      line-height: 30px;
      text-align: center;
      color: #FFF;
      color: rgba(255, 255, 255, 0.8);
  }

  .fa-twitter {
    background: #55ACEE;
    color: white;
    width: 45px;
      height: 45px;
      line-height: 50px;
      text-align: center;
      color: #FFF;
      color: rgba(255, 255, 255, 0.8);
  }

  .fa-google {
    background: #dd4b39;
    color: white;
    width: 45px;
      height: 45px;
      line-height: 50px;
      text-align: center;
      color: #FFF;
      color: rgba(255, 255, 255, 0.8);
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
    width: 45px;
      height: 45px;
      line-height: 50px;
      text-align: center;
      color: #FFF;
      color: rgba(255, 255, 255, 0.8);
  }

  .fa-youtube {
    background: #bb0000;
    color: white;
    width: 45px;
      height: 45px;
      line-height: 50px;
      text-align: center;
      color: #FFF;
      color: rgba(255, 255, 255, 0.8);
  }

  .fa-instagram {
    background: #125688;
    color: white;
    width: 45px;
      height: 45px;
      line-height: 50px;
      text-align: center;
      color: #FFF;
      color: rgba(255, 255, 255, 0.8);
  }

  /*second breakpoint - tablet */
  @media screen and (min-width: 500px) {

    .topnav {
      overflow: hidden;
      background-color: #333;
    }
    .topnav a {
      float: left;
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }
    .topnav a:hover {
      background-color: #ddd;
      color: black;
    }
    .active {
      background-color: #4CAF50;
      color: white;
    }
    .topnav .icon {
      display: none;
    }
    @media screen and (max-width: 600px) {
      .topnav a:not(:first-child) {
        display: none;
      }
      .topnav a.icon {
        float: right;
        display: block;
      }
    }
    @media screen and (max-width: 600px) {
      .topnav.responsive {
        position: relative;
      }
      .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
      }
      .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
      }
    }
    .downArrow {
      bottom: 45%;
      left: 50%;
    }
    .bounce {
      -moz-animation: bounce 3s infinite;
      -webkit-animation: bounce 3s infinite;
      animation: bounce 3s infinite;
    }
    @-moz-keyframes bounce {
      0%, 20%, 50%, 80%, 100% {
        -moz-transform: translateY(0);
        transform: translateY(0);
      }
      40% {
        -moz-transform: translateY(-30px);
        transform: translateY(-30px);
      }
      60% {
        -moz-transform: translateY(-15px);
        transform: translateY(-15px);
      }
    }
    @-webkit-keyframes bounce {
      0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
      }
      40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
      }
      60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
      }
    }
    @keyframes bounce {
      0%, 20%, 50%, 80%, 100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
      }
      40% {
        -moz-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
      }
      60% {
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
      }
    }
    main {
      display: block;
      height: 1000px;
      overflow-y: visible;
      scroll-behavior: smooth;
    }
    .pimg1, .pimg2, .pimg3 {
      position: relative;
      opacity: 0.70;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      /*
      fixed = parallax
      scroll = normal
    */
      background-attachment: fixed;
    }
    .pimg1 {
      background-image: url('../img/img1.jpg');
      min-height: 100%;
      opacity: 0.80;
    }
    .pimg2 {
      background-image: url('../img/img3.jpg');
      min-height: 400px;
    }
    .pimg3 {
      background-image: url('../img/img4.jpg');
      min-height: 100%;
    }
    .section {
      text-align: center;
      padding: 50px 80px;
    }
    .section-light {
      background-color: #f4f4f4;
      color: #666;
    }
    .section-dark {
      background-color: #282e34;
      color: #ddd;
    }
    .ptext {
      position: absolute;
      top: 50%;
      width: 100%;
      text-align: center;
      color: #000;
      font-size: 27px;
      letter-spacing: 8px;
      text-transform: uppercase;
    }
    .ptext .border {
      background-color: #111;
      color: #fff;
      padding: 20px;
    }
    .ptext .border.trans {
      background-color: transparent;
    }
    @media(max-width:568px) {
      .pimg1, .pimg2, .pimg3 {
        background-attachment: scroll;
      }
    }
    div.gallery {
      margin: 0 auto;
      text-align: center;
      border: 1px solid #ccc;
      float: left;
      max-width: 450px;
      font-size: 15px;
      align-content: center;
      opacity: 1;
      transform: scale(1.0);
      transition: all 500ms linear;
      position: relative;
      z-index: 1;
      margin: 10px;
    }
    div.gallery:hover {
      border: 1px solid #777;
      transition: all 200ms linear;
      transform: scale(1.2);
      opacity: 1;
      z-index: 99;
    }
    div.gallery img {
      width: 100%;
      height: auto;
    }
    @media (max-width:568px) {
      .gallery {
        width: 100vw;
      }
      article {
        min-width: 100%;
      }
    }
    div.desc {
      padding: 15px;
      text-align: center;
    }
    article {
      float: left;
      max-width: 33.33%;
      padding: 20px;
      text-align: left;
    }
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    @media (max-width:568px) {
      article {
        width: 100%;
      }
    }
    .box-hero-image-scroll-button .js-btn-scroll.animation-on {
      background-position: 50% 30px;
    }
    design.default.…0-0-1.css:7610 .component.section * {
      box-sizing: border-box;
    }
    design.default.…0-0-1.css:4244 .box-hero-image-scroll-button .js-btn-scroll {
      background: #FFE256 url('../img/arrowdown.png') no-repeat 50% 15px;
      width: 85px;
      height: 85px;
      position: absolute;
      bottom: 0;
      left: 50%;
      -webkit-transform: translate(-50%, 50%);
      transform: translate(-50%, 50%);
      z-index: 1;
      padding: 0;
      border-radius: 50%;
      overflow: hidden;
      -webkit-transition: background .8s ease-out;
      transition: background .8s ease-out;
    }
    h3 {
      font-size: 20px;
    }
    * {
      box-sizing: border-box
    }
    body {
      font-family: Verdana, sans-serif;
      margin: 0
    }
    .mySlides {
      display: none
    }
    .slideshow-container {
      max-width: 100%;
      position: relative;
      margin: auto;
    }
    .prev, .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      padding: 16px;
      margin-top: -22px;
      color: white;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
    }
    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }
    .prev:hover, .next:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }
    .text {
      color: #f2f2f2;
      font-size: 15px;
      padding: 8px 12px;
      position: absolute;
      bottom: 8px;
      width: 100%;
      text-align: center;
    }
    .numbertext {
      color: #f2f2f2;
      font-size: 12px;
      padding: 8px 12px;
      position: absolute;
      top: 0;
    }
    .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }
    .active, .dot:hover {
      background-color: #717171;
    }
    .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1.5s;
    }
    @-webkit-keyframes fade {
      from {
        opacity: .4
      }
      to {
        opacity: 1
      }
    }
    @keyframes fade {
      from {
        opacity: .4
      }
      to {
        opacity: 1
      }
    }
    @media only screen and (max-width: 300px) {
      .prev, .next, .text {
        font-size: 11px
      }
    }
    video {
      position: relative;
      width: 100%;
    }
    figure {
      width: 250px;
    }
  }
}

/*third breakpoint - desktop */

@media screen and (min-width: 1000px) {
  body, html {
    height: 100%;
    margin: 0;
    width: 100%;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
    background: white;
  }


  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  .active {
    background-color: #4CAF50;
    color: white;
  }
  .topnav .icon {
    display: none;
  }
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
      display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  @media screen and (max-width: 600px) {
    .topnav.responsive {
      position: relative;
    }
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
  .downArrow {
    bottom: 45%;
    left: 50%;
  }
  .bounce {
    -moz-animation: bounce 3s infinite;
    -webkit-animation: bounce 3s infinite;
    animation: bounce 3s infinite;
  }
  @-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -moz-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -moz-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -moz-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }
  @-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -moz-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -moz-transform: translateY(-15px);
      -ms-transform: translateY(-15px);
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }
  main {
    display: block;
    height: 1000px;
    overflow-y: visible;
    scroll-behavior: smooth;
  }
  .pimg1, .pimg2, .pimg3, .pimg4 {
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /*
      fixed = parallax
      scroll = normal
    */
    background-attachment: fixed;
  }
  .pimg1 {
    background-image: url('../img/img1.jpg');
    min-height: 100%;
    opacity: 0.80;
  }
  .pimg2 {
    background-image: url('../img/img3.jpg');
    min-height: 400px;
  }
  .pimg3 {
    background-image: url('../img/img4.jpg');
    min-height: 100%;
  }
  .pimg4 {
    background-image: url('../img/contact.jpg');
    min-height: 40%;
  }
  .section {
    text-align: center;
    padding: 50px 80px;
  }
  .section-light {
    background-color: #f4f4f4;
    color: #666;
  }
  .section-dark {
    background-color: #282e34;
    color: #ddd;
    min-height: 50%;
  }
  .ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
  }
  .ptext .border {
    background-color: #111;
    color: #fff;
    padding: 20px;
  }
  .ptext .border.trans {
    background-color: transparent;
  }
  @media(max-width:568px) {
    .pimg1, .pimg2, .pimg3 {
      background-attachment: scroll;
    }
  }
  div.gallery {
    margin: 0 auto;
    text-align: center;
    border: 1px solid #ccc;
    float: left;
    max-width: 450px;
    font-size: 15px;
    align-content: center;
    color: black;
    opacity: 1;
    transform: scale(1.0);
    transition: all 500ms linear;
    position: relative;
    z-index: 1;
    margin: 10px;
  }
  div.gallery:hover {
    border: 1px solid #777;
    transition: all 200ms linear;
    transform: scale(1.2);
    opacity: 1;
    z-index: 99;
  }
  div.gallery img {
    width: 100%;
    height: auto;
  }
  @media (max-width:568px) {
    .gallery {
      width: 100vw;
    }
    article {
      min-width: 100%;
    }
  }
  div.desc {
    padding: 15px;
    text-align: center;
  }
  article {
    float: left;
    max-width: 33.33%;
    padding: 20px;
    padding-top: 5px;
    text-align: left;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  @media (max-width:568px) {
    article {
      width: 100%;
    }
  }
  .box-hero-image-scroll-button .js-btn-scroll.animation-on {
    background-position: 50% 30px;
  }
  design.default.…0-0-1.css:7610 .component.section * {
    box-sizing: border-box;
  }
  design.default.…0-0-1.css:4244 .box-hero-image-scroll-button .js-btn-scroll {
    background: #FFE256 url('../img/arrowdown.png') no-repeat 50% 15px;
    width: 85px;
    height: 85px;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
    z-index: 1;
    padding: 0;
    border-radius: 50%;
    overflow: hidden;
    -webkit-transition: background .8s ease-out;
    transition: background .8s ease-out;
  }
  h3 {
    font-size: 20px;
  }
  * {
    box-sizing: border-box
  }
  body {
    font-family: Verdana, sans-serif;
    margin: 0
  }
  .mySlides {
    display: none
  }
  .slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
  }
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .active, .dot:hover {
    background-color: #717171;
  }
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @-webkit-keyframes fade {
    from {
      opacity: .4
    }
    to {
      opacity: 1
    }
  }
  @keyframes fade {
    from {
      opacity: .4
    }
    to {
      opacity: 1
    }
  }
  @media only screen and (max-width: 300px) {
    .prev, .next, .text {
      font-size: 11px
    }
  }
  video {
    position: relative;
    width: 100%;
  }

  figure {
    width: 250px;
  }
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  color: #C0C0C0;
  font-family: Arial, san-serif;
}

/* Contact Form Styles */

h1 {
  margin: 10px 0 0 0;
}

h4 {
  margin: 0 0 20px 0;
}

#contact-form {
  background-color: rgba(72, 72, 72, 0.7);
  padding: 10px 20px 30px 20px;
  max-width: 100%;
  float: left;
  left: 50%;
  position: absolute;
  margin-top: 20px;
  margin-left: -230px;
  margin-bottom: 160px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
}

#contact-form input, #contact-form select, #contact-form textarea, #contact-form label {
  font-size: 15px;
  margin-bottom: 2px;
  font-family: Arial, san-serif;
}

#contact-form input, #contact-form select, #contact-form textarea {
  width: 100%;
  background: #fff;
  border: 0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 15px;
  padding: 2px;
}

#contact-form input:focus, #contact-form select:focus, #contact-form textarea:focus {
  background-color: #E5E6E7;
}

#contact-form textarea {
  width: 100%;
  height: 100px;
}

#contact-form button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #991D57;
  background-image: linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
  background-image: -moz-linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
  background-image: -webkit-linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  border-radius: 5px;
}

#contact-form button[type="submit"]:hover {
  background-image: linear-gradient(bottom, #9C215A 0%, #A82767 52%);
  background-image: -moz-linear-gradient(bottom, #9C215A 0%, #A82767 52%);
  background-image: -webkit-linear-gradient(bottom, #9C215A 0%, #A82767 52%);
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact-form button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

input:required, textarea:required {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
}

#contact-form .required {
  font-weight: bold;
  color: #E5E6E7;
}

/* Hide success/failure message
 (especially since the php is missing) */

#failure, #success {
  color: #6EA070;
  display: none;
}

/* Make form look nice on smaller screens */

@media only screen and (max-width: 580px) {
  #contact-form {
    left: 3%;
    margin-right: 3%;
    width: 88%;
    margin-left: 0;
    padding-left: 3%;
    padding-right: 3%;
  }
}

}
.flip3D{
  width:240px;
  height:200px;
  margin:10px;
  float:left;
}
.flip3D > .front{
  position:relative;
  transform: perspective(600px) rotateY(0deg);
  background: #FC0; width:240px; height: 200px; border-radius: 7px;
  backface-visibility: hidden;
  transition: transform .5s linear 0s;
}
.flip3D > .back{
  position:relative;
  transform: perspective(600px) rotateY(180deg);
  background: #80BFFF; width:240px; height: 200px; border-radius: 7px;
  backface-visibility: hidden;
  transition: transform .5s linear 0s;
}
.flip3D:hover > .front{
  transform: perspective(600px) rotateY(-180deg);

}
.flip3D:hover > .back{
  transform: perspective(600px) rotateY(0deg);

}
.footer {
   position: absolute;
   bottom:-1100%;
   width: 100%;
   background-color: #c6c6c6;
   color: black;
   text-align: center;
   padding: 2%;
   z-index: 20px;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 8px 5px;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  width: 45px;
    height: 45px;
    line-height: 30px;
    text-align: center;
    color: #FFF;
    color: rgba(255, 255, 255, 0.8);
}

.fa-twitter {
  background: #55ACEE;
  color: white;
  width: 45px;
    height: 45px;
    line-height: 50px;
    text-align: center;
    color: #FFF;
    color: rgba(255, 255, 255, 0.8);
}

.fa-google {
  background: #dd4b39;
  color: white;
  width: 45px;
    height: 45px;
    line-height: 50px;
    text-align: center;
    color: #FFF;
    color: rgba(255, 255, 255, 0.8);
}

.fa-linkedin {
  background: #007bb5;
  color: white;
  width: 45px;
    height: 45px;
    line-height: 50px;
    text-align: center;
    color: #FFF;
    color: rgba(255, 255, 255, 0.8);
}

.fa-youtube {
  background: #bb0000;
  color: white;
  width: 45px;
    height: 45px;
    line-height: 50px;
    text-align: center;
    color: #FFF;
    color: rgba(255, 255, 255, 0.8);
}

.fa-instagram {
  background: #125688;
  color: white;
  width: 45px;
    height: 45px;
    line-height: 50px;
    text-align: center;
    color: #FFF;
    color: rgba(255, 255, 255, 0.8);
}
/* Flex Container */
.flex-nav ul {

  list-style: none;
  margin: 0;
  padding: 0;
  display:flex;
}

/* Flex Container!!! */

h2{
  font-family: 'Kalam', cursive;
  font-size: 30px;
  color: black;
}

.pricing-grid {
  max-width:100%;
  margin-top:0px;
  display:flex;
  align-items:stretch;
  flex-wrap:wrap;
  justify-content:center;

}
.plan {
  border: 2px solid red;
  background: white;
  margin:20px;
  padding:5px;
  text-align: center;
  min-width: 300px;
  height: 200px;
  flex:0;
  display:flex;
  flex-wrap:wrap;
  color: black;
}
.plan > * {
  flex:1 1 100%;
}

.plan .cta {
  align-self:flex-end;
  text-align:center;
  color:#black;
  font-size:14px;
  letter-spacing: 0px;
  font-weight:bold;
}
#map{
  height: 400px;
  width: 100%;
}
ul { list-style:none; margin:0; padding:0 }
#watch { font-size:1em; position:relative }
#watch .frame-face {
  position:relative;
  width:30em;
  height:30em;
  margin:2em auto;
  border-radius:15em;
  background:-webkit-linear-gradient(top, #f9f9f9,#666);
  background:-moz-linear-gradient(top, #f9f9f9,#666);
  background:linear-gradient(to bottom, #f9f9f9,#666);
  box-shadow:rgba(0,0,0,.8) .5em .5em 4em;
}
#watch .frame-face:before {
  content:'';
  width:29.4em;
  height:29.4em;
  border-radius:14.7em;
  position:absolute;
  top:.3em; left:.3em;
  background:
    -webkit-linear-gradient(135deg, rgba(246,248,249,0) 0%,rgba(229,235,238,1) 50%,rgba(205,212,217,1) 51%,rgba(245,247,249,0) 100%),
    -webkit-radial-gradient(center, ellipse cover, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 65%,rgba(205,212,217,1) 66%,rgba(245,247,249,1) 100%);
  background:
    -moz-linear-gradient(135deg, rgba(246,248,249,0) 0%,rgba(229,235,238,1) 50%,rgba(205,212,217,1) 51%,rgba(245,247,249,0) 100%),
    -moz-radial-gradient(center, ellipse cover, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 65%,rgba(205,212,217,1) 66%,rgba(245,247,249,1) 100%);
  background:
    linear-gradient(135deg, rgba(246,248,249,0) 0%,rgba(229,235,238,1) 50%,rgba(205,212,217,1) 51%,rgba(245,247,249,0) 100%),
    radial-gradient(ellipse at center, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 65%,rgba(205,212,217,1) 66%,rgba(245,247,249,1) 100%);
}
#watch .frame-face:after {
  content:'';
  width:28em;
  height:28em;
  border-radius:14.2em;
  position:absolute;
  top:.9em; left:.9em;
  box-shadow:inset rgba(0,0,0,.2) .2em .2em 1em;
  border:.1em solid rgba(0,0,0,.2);
  background:-webkit-linear-gradient(top, #fff, #ccc);
  background:-moz-linear-gradient(top, #fff, #ccc);
  background:linear-gradient(to bottom, #fff, #ccc);
}
#watch .minute-marks li {
  display:block;
  width:.2em;
  height:.6em;
  background:#929394;
  position:absolute;
  top:50%; left:50%;
  margin:-.4em 0 0 -.1em;
}
#watch .minute-marks li:first-child {transform:rotate(6deg) translateY(-12.7em)}
#watch .minute-marks li:nth-child(2) {transform:rotate(12deg) translateY(-12.7em)}
#watch .minute-marks li:nth-child(3) {transform:rotate(18deg) translateY(-12.7em)}
#watch .minute-marks li:nth-child(4) {transform:rotate(24deg) translateY(-12.7em)}
#watch .minute-marks li:nth-child(5) {transform:rotate(36deg) translateY(-12.7em)}
#watch .minute-marks li:nth-child(6) {transform:rotate(42deg) translateY(-12.7em)}
#watch .minute-marks li:nth-child(7) {transform:rotate(48deg) translateY(-12.7em)}
#watch .minute-marks li:nth-child(8) {transform:rotate(54deg) translateY(-12.7em)}
#watch .minute-marks li:nth-child(9) {transform:rotate(66deg) translateY(-12.7em)}
#watch .minute-marks li:nth-child(10) {transform:rotate(72deg) translateY(-12.7em)}
#watch .minute-marks li:nth-child(11) {transform:rotate(78deg) translateY(-12.7em)}
#watch .minute-marks li:nth-child(12) {transform:rotate(84deg) translateY(-12.7em)}
#watch .minute-marks li:nth-child(13) {transform:rotate(96deg) translateY(-12.7em)}
#watch .minute-marks li:nth-child(14) {transform:rotate(102deg) translateY(-12.7em)}
#watch .minute-marks li:nth-child(15) {transform:rotate(108deg) translateY(-12.7em)}
#watch .minute-marks li:nth-child(16) {transform:rotate(114deg) translateY(-12.7em)}
#watch .minute-marks li:nth-child(17) {transform:rotate(126deg) translateY(-12.7em)}
#watch .minute-marks li:nth-child(18) {transform:rotate(132deg) translateY(-12.7em)}
#watch .minute-marks li:nth-child(19) {transform:rotate(138deg) translateY(-12.7em)}
#watch .minute-marks li:nth-child(20) {transform:rotate(144deg) translateY(-12.7em)}
#watch .minute-marks li:nth-child(21) {transform:rotate(156deg) translateY(-12.7em)}
#watch .minute-marks li:nth-child(22) {transform:rotate(162deg) translateY(-12.7em)}
#watch .minute-marks li:nth-child(23) {transform:rotate(168deg) translateY(-12.7em)}
#watch .minute-marks li:nth-child(24) {transform:rotate(174deg) translateY(-12.7em)}
#watch .minute-marks li:nth-child(25) {transform:rotate(186deg) translateY(-12.7em)}
#watch .minute-marks li:nth-child(26) {transform:rotate(192deg) translateY(-12.7em)}
#watch .minute-marks li:nth-child(27) {transform:rotate(198deg) translateY(-12.7em)}
#watch .minute-marks li:nth-child(28) {transform:rotate(204deg) translateY(-12.7em)}
#watch .minute-marks li:nth-child(29) {transform:rotate(216deg) translateY(-12.7em)}
#watch .minute-marks li:nth-child(30) {transform:rotate(222deg) translateY(-12.7em)}
#watch .minute-marks li:nth-child(31) {transform:rotate(228deg) translateY(-12.7em)}
#watch .minute-marks li:nth-child(32) {transform:rotate(234deg) translateY(-12.7em)}
#watch .minute-marks li:nth-child(33) {transform:rotate(246deg) translateY(-12.7em)}
#watch .minute-marks li:nth-child(34) {transform:rotate(252deg) translateY(-12.7em)}
#watch .minute-marks li:nth-child(35) {transform:rotate(258deg) translateY(-12.7em)}
#watch .minute-marks li:nth-child(36) {transform:rotate(264deg) translateY(-12.7em)}
#watch .minute-marks li:nth-child(37) {transform:rotate(276deg) translateY(-12.7em)}
#watch .minute-marks li:nth-child(38) {transform:rotate(282deg) translateY(-12.7em)}
#watch .minute-marks li:nth-child(39) {transform:rotate(288deg) translateY(-12.7em)}
#watch .minute-marks li:nth-child(40) {transform:rotate(294deg) translateY(-12.7em)}
#watch .minute-marks li:nth-child(41) {transform:rotate(306deg) translateY(-12.7em)}
#watch .minute-marks li:nth-child(42) {transform:rotate(312deg) translateY(-12.7em)}
#watch .minute-marks li:nth-child(43) {transform:rotate(318deg) translateY(-12.7em)}
#watch .minute-marks li:nth-child(44) {transform:rotate(324deg) translateY(-12.7em)}
#watch .minute-marks li:nth-child(45) {transform:rotate(336deg) translateY(-12.7em)}
#watch .minute-marks li:nth-child(46) {transform:rotate(342deg) translateY(-12.7em)}
#watch .minute-marks li:nth-child(47) {transform:rotate(348deg) translateY(-12.7em)}
#watch .minute-marks li:nth-child(48) {transform:rotate(354deg) translateY(-12.7em)}
#watch .digits {
  width:30em;
  height:30em;
  border-radius:15em;
  position:absolute;
  top:0; left:50%;
  margin-left:-15em;
}
#watch .digits li {
  font-size:1.6em;
  display:block;
  width:1.6em;
  height:1.6em;
  position:absolute;
  top:50%; left:50%;
  line-height:1.6em;
  text-align:center;
  margin:-.8em 0 0 -.8em;
  font-weight:bold;
}
#watch .digits li:nth-child(1) { transform:translate(3.9em, -6.9em) }
#watch .digits li:nth-child(2) { transform:translate(6.9em, -4em) }
#watch .digits li:nth-child(3) { transform:translate(8em, 0) }
#watch .digits li:nth-child(4) { transform:translate(6.8em, 4em) }
#watch .digits li:nth-child(5) { transform:translate(3.9em, 6.9em) }
#watch .digits li:nth-child(6) { transform:translate(0, 8em) }
#watch .digits li:nth-child(7) { transform:translate(-3.9em, 6.9em) }
#watch .digits li:nth-child(8) { transform:translate(-6.8em, 4em) }
#watch .digits li:nth-child(9) { transform:translate(-8em, 0) }
#watch .digits li:nth-child(10) { transform:translate(-6.9em, -4em) }
#watch .digits li:nth-child(11) { transform:translate(-3.9em, -6.9em) }
#watch .digits li:nth-child(12) { transform:translate(0, -8em) }
#watch .digits:before {
  content:'';
  width:1.6em;
  height:1.6em;
  border-radius:.8em;
  position:absolute;
  top:50%; left:50%;
  margin:-.8em 0 0 -.8em;
  background:#121314;
}
#watch .digits:after {
  content:'';
  width:4em;
  height:4em;
  border-radius:2.2em;
  position:absolute;
  top:50%; left:50%;
  margin:-2.1em 0 0 -2.1em;
  border:.1em solid #c6c6c6;
  background:-webkit-radial-gradient(center, ellipse cover, rgba(200,200,200,0), rgba(190,190,190,1) 90%, rgba(130,130,130,1) 100%);
  background:-moz-radial-gradient(center, ellipse cover, rgba(200,200,200,0), rgba(190,190,190,1) 90%, rgba(130,130,130,1) 100%);
  background:radial-gradient(ellipse at center, rgba(200,200,200,0), rgba(190,190,190,1) 90%, rgba(130,130,130,1) 100%);
}
@keyframes hours { to {transform:rotate(335deg)} }
#watch .hours-hand {
  width:.8em;
  height:7em;
  border-radius:0 0 .9em .9em;
  background:#232425;
  position:absolute;
  bottom:50%; left:50%;
  margin:0 0 -.8em -.4em;
  box-shadow:#232425 0 0 2px;
  transform-origin:0.4em 6.2em;
  transform:rotate(-25deg);
  animation:hours 43200s linear 0s infinite;
}
#watch .hours-hand:before {
  content:'';
  background:inherit;
  width:1.8em;
  height:.8em;
  border-radius:0 0 .8em .8em;
  box-shadow:#232425 0 0 1px;
  position:absolute;
  top:-.7em; left:-.5em;
}
#watch .hours-hand:after {
  content:'';
  width:0; height:0;
  border:.9em solid #232425;
  border-width:0 .9em 2.4em .9em;
  border-left-color:transparent;
  border-right-color:transparent;
  position:absolute;
  top:-3.1em; left:-.5em;
}
@keyframes minutes { to {transform:rotate(422deg)} }
#watch .minutes-hand {
  width:.8em;
  height:12.5em;
  border-radius:.5em;
  background:#343536;
  position:absolute;
  bottom:50%; left:50%;
  margin:0 0 -1.5em -.4em;
  box-shadow:#343536 0 0 2px;
  transform-origin:0.4em 11em;
  transform:rotate(62deg);
  animation:minutes 3600s linear 0s infinite;
}
@keyframes seconds { to {transform:rotate(480deg)} }
#watch .seconds-hand {
  width:.2em;
  height:14em;
  border-radius:.1em .1em 0 0/10em 10em 0 0;
  background:#c00;
  position:absolute;
  bottom:50%; left:50%;
  margin:0 0 -2em -.1em;
  box-shadow:rgba(0,0,0,.8) 0 0 .2em;
  transform-origin:0.1em 12em;
  transform:rotate(120deg);
  animation:seconds 60s steps(60, end) 0s infinite;
}
#watch .seconds-hand:after {
  content:'';
  width:1.4em;
  height:1.4em;
  border-radius:.7em;
  background:inherit;
  position:absolute;
  left:-.65em; bottom:1.35em;
}
#watch .seconds-hand:before {
  content:'';
  width:.8em;
  height:3em;
  border-radius:.2em .2em .4em .4em/.2em .2em 2em 2em;
  box-shadow:rgba(0,0,0,.8) 0 0 .2em;
  background:inherit;
  position:absolute;
  left:-.35em; bottom:-3em;
}
#watch .digital-wrap {
  width:9em;
  height:3em;
  border:.1em solid #222;
  border-radius:.2em;
  position:absolute;
  top:50%; left:50%;
  margin:3em 0 0 -4.5em;
  overflow:hidden;
  background:#4c4c4c;
  background:-webkit-linear-gradient(top, #4c4c4c 0%,#0f0f0f 100%);
  background:-moz-linear-gradient(top, #4c4c4c 0%, #0f0f0f 100%);
  background:-ms-linear-gradient(top, #4c4c4c 0%,#0f0f0f 100%);
  background:-o-linear-gradient(top, #4c4c4c 0%,#0f0f0f 100%);
  background:linear-gradient(to bottom, #4c4c4c 0%,#0f0f0f 100%);
}
#watch .digital-wrap ul {
  float:left;
  width:2.85em;
  height:3em;
  border-right:.1em solid #000;
  color:#ddd;
  font-family:Consolas, monaco, monospace;
}
#watch .digital-wrap ul:last-child { border:none }
#watch .digital-wrap li {
  font-size:1.5em;
  line-height:2;
  letter-spacing:2px;
  text-align:center;
  position:relative;
  left:1px;

}
#watch .digit-minutes li {
  animation:dsm 3600s steps(60, end) 0s infinite;
}
#watch .digit-seconds li {
  animation:dsm 60s steps(60, end) 0s infinite;
}
@keyframes dsm {
  to { transform:translateY(-120em) }
}
